<!--@subject {{var store.getFrontendName()}} -  New document for your account@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
  <span>Dear {{var customername}},</span><br/>
  <span>We’ve uploaded a new document for your account. You can download or view the document by the following URL.</span><br/>
  <span>{{var link}}</span><br/>
  <span>Best Regards,</span><br/>
  <span>{{var store.getFrontendName()}}</span>
</div>
</body>