<?php $showGroup = Mage::getStoreConfig('customerdoc/document_options/group_category'); ?>
<?php $filterSession = Mage::getSingleton('core/session')->getFilterRequest(); ?>
<?php $defaultIcon = Mage::getStoreConfig('customerdoc/document_options/default_document_icon');?>
<?php $baseFileUrl = Mage::getBaseUrl('media').'document/' ?>
<?php $customer = Mage::getSingleton('customer/session')->getCustomer(); ?>
<?php $customerId = $customer->getId();?>
<?php $groupId = $customer->getGroupId(); ?>
<?php $catCollection = Mage::getModel('customerdoc/category')->getCollection(); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $documents = $this->getDocuments(); ?>
<div class="page-title" style="margin-bottom: 50px;">
  <h1><?php echo $this->__('My Documents') ?></h1>
</div>
<form action="<?php echo $this->helper('core/url')->getCurrentUrl();?>" method="post" id="search-request">
<?php if($documents->getSize()): ?>
  <?php if($showGroup): ?>
    <?php $categoryIds = $this->getCategoryIds(); ?>
    <?php if(count($categoryIds) > 0): ?>
      <?php foreach($categoryIds as $categoryId): ?>
        <div style="clear:both;"></div>
        <div class="page-title">
          <h2 style="font-size: 22px !important;"><?php echo Mage::helper('customerdoc')->loadCategoryNameById($categoryId); ?></h2>
        </div>
        <?php $documents = Mage::helper('customerdoc')->loadDocCollectionByCatId($categoryId, $customerId, $groupId); ?>
        <?php echo $this->getCategoryPager($categoryId); ?>
        <table class="data-table" id="my-documents-table">
          <col width="1" />
          <col width="1" />
          <col width="1" />
          <col width="1" />
          <thead>
          <tr>
            <th><?php echo $this->__('File Name') ?></th>
            <th><?php echo $this->__('Thumbnail') ?></th>
            <th><?php echo $this->__('Description') ?></th>
            <th><?php echo $this->__('Action') ?></th>
          </tr>
          </thead>
          <tbody>
          <?php foreach ($documents as $document): ?>
            <tr>
              <td><?php echo $document->getName() ?></td>
              <td>
                <?php if($document->getThumbnail()): ?>
                  <img class="document-image" src="<?php echo $baseFileUrl.'thumbnail/'.$document->getThumbnail(); ?>"
                       width="30px" height="30px" />
                <?php else: ?>
                  <?php if($defaultIcon): ?>
                    <img class="document-image" src="<?php echo $baseFileUrl.'icons/'.$defaultIcon; ?>"
                         width="30px" height="30px" />
                  <?php endif; ?>
                <?php endif; ?>
              </td>
              <td><?php echo $document->getDescription(); ?></td>
              <td>
                <?php if($document->getDocumentLink()): ?>
                  <a href="<?php echo Mage::getUrl('customerdoc/index/download', array('id' => $document->getId())); ?>"><?php echo $this->__('Download'); ?></a>
                  <a style="color: red;" target="_blank" href="<?php echo Mage::getUrl('customerdoc/index/view', array('id' => $document->getId())) ?>"><?php echo $this->__('View'); ?></a>
                <?php endif; ?>
              </td>
            </tr>
          <?php endforeach; ?>
          </tbody>
        </table>
        <script type="text/javascript">decorateTable('my-documents-table');</script>
        <?php echo $this->getCategoryPager($categoryId); ?>
      <?php endforeach; ?>
    <?php endif; ?>
  <?php else: ?>
    <?php echo $this->getPagerHtml(); ?>
    <table class="data-table" id="my-documents-table">
      <col width="1" />
      <col width="1" />
      <col width="1" />
      <col width="1" />
      <col width="1" />
      <col width="1" />
      <thead>
      <tr>
        <th><?php echo $this->__('File Name') ?><br/></th>
        <th><?php echo $this->__('Thumbnail') ?></th>
        <th><?php echo $this->__('Description') ?><br/></th>
        <th><?php echo $this->__('Category') ?><br/></th>
        <th><?php echo $this->__('Created Time') ?></th>
        <th><?php echo $this->__('Action') ?><br/></th>
      </tr>
      </thead>
      <tbody>
      <tr class="a-center">
        <td>
          <input type="text" style="width: 100%" <?php if(isset($filterSession['name'])):?>value="<?php echo $filterSession['name'] ;?>"<?php endif;?> name="name">
        </td>
        <td></td>
        <td>
          <input type="text" style="width: 100%" <?php if(isset($filterSession['description'])):?>value="<?php echo $filterSession['description'] ;?>"<?php endif;?> name="description">
        </td>
        <td>
          <select name="category">
            <option value="0"><?php echo $this->__('Select Category'); ?></option>
            <?php foreach($catCollection->getItems() as $cat): ?>
              <option <?php if((isset($filterSession['category'])) && ($filterSession['category'] == $cat->getId())): echo 'selected'; endif; ?> value="<?php echo $cat->getId(); ?>"><?php echo $cat->getName() ?></option>
            <?php endforeach; ?>
          </select>
        </td>
        <td>
          <div class="range">
            <div class="range-line date">
              <div class="range-line-label">
                <span class="label">From:</span>
              </div>
              <div class="range-line-input">
                <input type="text" class="input-text no-changes" <?php if(isset($filterSession['from'])):?>value="<?php echo $filterSession['from'] ;?>"<?php endif;?> id="from" name="from">
                <img title="Date selector" id="from_trig" class="v-middle" alt="" src="<?php echo Mage::getBaseUrl('skin')?>adminhtml/default/default/images/grid-cal.gif">
              </div>
            </div>
            <div class="range-line date">
              <div class="range-line-label">
                <span class="label">To :</span>
              </div>
              <div class="range-line-input">
                <input type="text" class="input-text no-changes" <?php if(isset($filterSession['to'])):?>value="<?php echo $filterSession['to'] ;?>"<?php endif;?> id="to" name="to">
                <img title="Date selector" id="to_trig" class="v-middle" alt="" src="<?php echo Mage::getBaseUrl('skin')?>adminhtml/default/default/images/grid-cal.gif">
              </div>
            </div>
          </div>
          <script type="text/javascript">
            Calendar.setup({
              inputField : "from",
              ifFormat : "%d-%m-%Y",
              button : "from_trig",
              showsTime: false,
              align : "Bl",
              singleClick : true
            });
            Calendar.setup({
              inputField : "to",
              ifFormat : "%d-%m-%Y",
              button : "to_trig",
              showsTime: false,
              align : "Bl",
              singleClick : true
            });
          </script>
        </td>
        <td>
          <button type="submit" class="button"><span><span><?php echo $this->__('Go');?></span></span></button>
        </td>
      </tr>
      <?php foreach ($documents as $document): ?>
        <tr>
          <td><?php echo $document->getName() ?></td>
          <td>
            <?php if($document->getThumbnail()): ?>
              <img class="document-image" src="<?php echo $baseFileUrl.'thumbnail/'.$document->getThumbnail(); ?>"
                   width="30px" height="30px" />
            <?php else: ?>
              <?php if($defaultIcon): ?>
                <img class="document-image" src="<?php echo $baseFileUrl.'icons/'.$defaultIcon; ?>"
                     width="30px" height="30px" />
              <?php endif; ?>
            <?php endif; ?>
          </td>
          <td><?php echo $document->getDescription(); ?></td>
          <td><?php echo Mage::helper('customerdoc')->loadCategoryNameById($document->getCategory()); ?></td>
          <td><?php echo $this->formatDate($document->getCreatedTime(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?></td>
          <td>
            <?php if($document->getDocumentLink()): ?>
              <a href="<?php echo Mage::getUrl('customerdoc/index/download', array('id' => $document->getId())); ?>"><?php echo $this->__('Download'); ?></a>
              <a style="color: red;" target="_blank" href="<?php echo Mage::getUrl('customerdoc/index/view', array('id' => $document->getId())) ?>"><?php echo $this->__('View'); ?></a>
            <?php endif; ?>
          </td>
        </tr>
      <?php endforeach; ?>
      </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-documents-table');</script>
    <?php echo $this->getPagerHtml(); ?>
  <?php endif; ?>
</form>
<?php else: ?>
  <?php if(Mage::getSingleton('core/session')->getEmptyFilter()): ?>
    <form action="<?php echo $this->helper('core/url')->getCurrentUrl();?>" method="post" id="reset-request">
      <p><?php echo $this->__('There is no document matching your selection.'); ?></p>
      <button type="submit" class="button"><span><span><?php echo $this->__('Reset Filter');?></span></span></button>
    </form>
  <?php else: ?>
    <p><?php echo $this->__('You have no document.'); ?></p>
  <?php endif; ?>
<?php endif; ?>
